﻿@model PagedList.IPagedList<Copaces.CityCounty.Website.Models.DataObjects.Road>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Roads";
}

<h2>Roads</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.LabelFor(m => m.FirstOrDefault().Name)</th>
        <th>@Html.LabelFor(m => m.FirstOrDefault().Jurisdiction)</th>
        <th>@Html.LabelFor(m => m.FirstOrDefault().From)</th>
        <th>@Html.LabelFor(m => m.FirstOrDefault().To)</th>
        <th>@Html.LabelFor(m => m.FirstOrDefault().FunctionalClass)</th>
        <th>@Html.LabelFor(m => m.FirstOrDefault().HasUnfinishedSurvey)</th>
        <th>@Html.LabelFor(m => m.FirstOrDefault().LastSurveyDate)</th>
        <th>@Html.LabelFor(m => m.FirstOrDefault().SurfaceType)</th>
        <th></th>
    </tr>

    @{
        foreach (var item in Model)
         {
             <tr>
                 <td>@Html.DisplayFor(modelItem => item.Name)</td>
                 <td>@Html.DisplayFor(modelItem => item.Jurisdiction)</td>
                 <td>@Html.DisplayFor(modelItem => item.From)</td>
                 <td>@Html.DisplayFor(modelItem => item.To)</td>
                 <td>@Html.DisplayFor(modelItem => item.FunctionalClass)</td>
                 <td>@Html.DisplayFor(modelItem => item.HasUnfinishedSurvey)</td>
                 <td>@Html.DisplayFor(modelItem => item.LastSurveyDate)</td>
                 <td>@Html.DisplayFor(modelItem => item.SurfaceType)</td>
                 <td>
                     @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                     @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                     @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                 </td>
             </tr>
         }
    }
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, pageNum => Url.Action("Index",
    new { placeId = ViewBag.PlaceId, pageNum }))
 
