﻿@model Copaces.CityCounty.Website.Models.RegisterViewModel
@using Newtonsoft.Json
@using Newtonsoft.Json.Converters
@{
    ViewBag.Title = "Register";
    ViewBag.PlaceTypeList = new List<SelectListItem>
    {
        new SelectListItem() { Value = "County", Text = "County" },
        new SelectListItem() { Value = "City", Text = "City" }
    };
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var cityList = []
        var countyList = [];
        $(document).ready(function () {
            cityList = @Html.Raw(JsonConvert.SerializeObject(ViewBag.CityList));
            countyList = @Html.Raw(JsonConvert.SerializeObject(ViewBag.CountyList));
        });
        function changePlaceList() {
            var type = $("#PlaceType").val();
            $("#placeId").empty();
            if (type == "City") {
                cityList.forEach(function(obj){
                    $("#placeId").append($('<option></option>').val(obj.Value).html(obj.Text));
                });
            }
            else {
                countyList.forEach(function(obj){
                    $("#placeId").append($('<option></option>').val(obj.Value).html(obj.Text));
                });
            };
        };
    </script>
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label", @id = "placeType" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PlaceType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.PlaceType, (IEnumerable<SelectListItem>)ViewBag.PlaceTypeList,
                                new { @class = "form-control", @onchange = "changePlaceList();" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PlaceId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.PlaceId, ViewBag.CountyList as IEnumerable<SelectListItem>,
                                new { @class = "form-control", @id = "placeId"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}