﻿@model Copaces.CityCounty.Website.Models.DataObjects.Segment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Segment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Place.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Road.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Road.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasCurbOrGutter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasCurbOrGutter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaneDirection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaneDirection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SequenceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SequenceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
