﻿@model Copaces.CityCounty.Website.Models.SegmentSearchViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "title";
}

<h2>Search</h2>

<!-- Search area -->
@using (Html.BeginForm("Search", "Segments", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <p>Search by data range:</p>
    <div class="form-group">
        @Html.Label("From", "From:", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(m => m.From, new { htmlAttributes = new { @class = "datepicker form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("To", "To:", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(m => m.To, new { htmlAttributes = new { @class = "datepicker form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("RoadId", "Road Name:", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.RoadId, ViewBag.RoadList as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Find" class="btn btn-default" />
        </div>
    </div>
}

@if (Model.Result != null && Model.Result.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Result.FirstOrDefault().InventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result.FirstOrDefault().SequenceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result.FirstOrDefault().From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result.FirstOrDefault().To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result.FirstOrDefault().LaneDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result.FirstOrDefault().LaneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result.FirstOrDefault().Length)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model.Result)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.InventId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SequenceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaneDirection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaneNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new {id = item.Id})
                </td>
                <td>
                    @Html.ActionLink("View History", "History", new {id = item.InventId}, new {@class = "btn btn-default"})
                </td>
            </tr>
        }

    </table>
}
