﻿@model WebManagement.Models.SegmentSuveySearchViewModel
@{
    ViewBag.Title = "Search";
}

<link href="@Url.Content("~/Content/themes/base/datepicker.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.11.1.js")" type="text/javascript"></script>
<script type='text/javascript'>
    $(function () {
        $('.datepicker').datepicker();
    });
</script>

<h2>Search</h2>

<!-- Search area -->
@using (Html.BeginForm("Search", "SegmentSurveys", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <p>Search by data range:</p>
    <div class="form-group">
        @Html.Label("StartDate", "Start Date:", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { @class = "datepicker form-control" } })
        </div>
    </div>
    
    <div class="form-group">
        @Html.Label("EndDate", "End Date:", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "datepicker form-control" } })
        </div>
    </div>
    
    <div class="form-group">
        @Html.Label("SearchRoadId", "Road Name:", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.RoadId, ViewBag.RoadList as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("MaxRating", "Maximum Rating", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(m => m.MaxRating,  new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Find" class="btn btn-default" />
        </div>
    </div>
}

@if (Model.Result != null && Model.Result.Any())
{
    var first = Model.Result.FirstOrDefault();
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => first.RoadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.InventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.SequenceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.CopacesRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.IsWindshieldSurvey)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.WindshieldScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.LaneDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.LaneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.Rater)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.RoadSurveyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => first.SegSurveyDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Result)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoadId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SequenceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CopacesRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsWindshieldSurvey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WindshieldScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaneDirection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaneNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rater)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoadSurveyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegSurveyDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}

