﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COPACES for City &amp; County</h1>
    <p class="lead">
        COPACES City &amp; County offers the one-station data solution for the pavement conditions in cities and counties. Users can
        collect data using mobile apps, and view / process the collected data right away from the cloud.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Road/Segment Data</h2>
        <p>
            View all the road / segment information in the registered city / county.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Survey Data</h2>
        <p>
            View the survey data made in segment / road level and the corresponding COPACES ratings.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reporting</h2>
        <p>Generating various data visualization and analysis based of custimized conditions</p>
    </div>
</div>