﻿@model Copaces.CityCounty.Website.Models.SegmentSurveyDetailViewModel
@using Newtonsoft.Json
@using Newtonsoft.Json.Converters

@{
    ViewBag.Title = "Details";
}

@section scripts{
    <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <link rel="StyleSheet" href="~/Content/Site.css" type="text/css" /> 
    <base href="http://@Request.Url.Authority@Request.ApplicationPath" />
    <script type="text/javascript">
        var map = null;
        var pinLayer, pinInfobox;
        var data = @Html.Raw(JsonConvert.SerializeObject(Model.SurveyPhotos));
        var pushpinFrameHTML = '<div class="infobox"> \
                                    <a class="infobox_close" href="javascript:closeInfobox()"> \
                                        <img src="Content/Asset/close.png"/> \
                                    </a> \
                                    <div class="infobox_content">{content}</div> \
                                </div> \
                                <div class="infobox_pointer"><img src="Content/Asset/pointer_shadow.png"></div>';

        $(document).ready(function ()
        {
            // Initialize the map
            map = new Microsoft.Maps.Map(document.getElementById("mapDiv"), {
                credentials: "Anyi3er2c5rGRqIlssK0j8h0SjflnWoeRp6ZKjfVQ7ZI4p9tYl1gOxuWmnizwbvZ",
                center: new Microsoft.Maps.Location(33.774, -84.396),
                zoom: 14
            });

            //Create two layers, one for pushpins, the other for the infobox. This way the infobox will always be above the pushpins.
            pinLayer = new Microsoft.Maps.EntityCollection();
            map.entities.push(pinLayer);

            var infoboxLayer = new Microsoft.Maps.EntityCollection();
            map.entities.push(infoboxLayer);

            for (var i = 0;i < data.length;i++){
                var lat = data[i].Latitude;
                var lng = data[i].Longitude;
                var imageUri = data[i].ImageUri;
                var loc = new Microsoft.Maps.Location(lat, lng);

                //Add test data
                var pin = new Microsoft.Maps.Pushpin(loc);

                pin.title = "Pav Image";
                pin.description = '<a href="' + imageUri + '"><image src="' + imageUri + '" width="300"></image></a>';

                // Add a handler for the pushpin click event.
                Microsoft.Maps.Events.addHandler(pin, 'click', displayInfobox);
                pinLayer.push(pin);
            };
            if (data.length > 0) {
                map.setOptions({center: new Microsoft.Maps.Location(data[0].Latitude, data[0].Longitude)});
            }

            // Create the info box for the pushpin
            pinInfobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(0, 0), { visible: false });
            infoboxLayer.push(pinInfobox);
        });

        function displayInfobox(e) {
            if (e.targetType == "pushpin") {
                var pin = e.target;

                var html = "<span class='infobox_title'>" + pin.title + "</span><br/>" + pin.description;

                pinInfobox.setOptions({
                    visible: true,
                    offset: new Microsoft.Maps.Point(-33, 20),
                    htmlContent: pushpinFrameHTML.replace('{content}', html)
                });

                //set location of infobox
                pinInfobox.setLocation(pin.getLocation());
            }
        }

        function closeInfobox(e) {
            pinInfobox.setOptions({ visible: false });
        }
    </script>
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h2>Details</h2>
<div>
    <div class="row">
        <h4>SegmentSurvey</h4>
        <hr />
        <div class="col-md-6">
            <h3>Basic Information</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.InventId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.InventId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.SampleLocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.SampleLocation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.CopacesRating)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.CopacesRating)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.SegSurveyDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.SegSurveyDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.SequenceId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.SequenceId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.TreatmentMethod)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.TreatmentMethod)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.TreatmentYear)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.TreatmentYear)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.WindshieldScore)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.WindshieldScore)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.Remarks)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.Remarks)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.RoadId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.RoadId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.RoadSurveyDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.RoadSurveyDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.RoadSurveyId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.RoadSurveyId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.IsWindshieldSurvey)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.IsWindshieldSurvey)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.LaneDirection)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.LaneDirection)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.LaneNum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.LaneNum)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.PlaceId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.PlaceId)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h3>Distress Information</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.BleedLevel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.BleedLevel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.BleedPercentage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.BleedPercentage)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.BlockLevel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.BlockLevel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.BlockPercentage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.BlockPercentage)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.CorrugLevel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.CorrugLevel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.CorrugPercentage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.CorrugPercentage)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.CrossSlopeLeft)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.CrossSlopeLeft)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.CrossSlopeRight)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.CrossSlopeRight)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.EdgeLevel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.EdgeLevel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.EdgePercentage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.EdgePercentage)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.LoadLevel1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.LoadLevel1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.LoadLevel2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.LoadLevel2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.LoadLevel3)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.LoadLevel3)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.LoadLevel4)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.LoadLevel4)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.LossPavLevel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.LossPavLevel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.LossPavPercentage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.LossPavPercentage)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.PatchPotholeNum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.PatchPotholeNum)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.Rater)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.Rater)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.RavelLevel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.RavelLevel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.RavelPercentage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.RavelPercentage)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.ReflectLength)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.ReflectLength)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.ReflectLevel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.ReflectLevel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.ReflectNum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.ReflectNum)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.RutInWp)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.RutInWp)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SegmentSurvey.RutOutWp)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SegmentSurvey.RutOutWp)
                </dd>


            </dl>
        </div>
    </div>
    <div class="row">
        <div id='mapDiv' style="position:relative; width:1000px; height:600px;" class="container, col-md-6"></div>
    </div>
    <div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.SegmentSurvey.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
